*{
    box-sizing: border-box;
    /* --e-global-typography-primary-font-family: "Palanquin Dark";
    --e-global-typography-text-font-family: "Montserrat";
    --e-global-typography-accent-font-family: "Montserrat"; */
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

::selection{
    color: #fff;
    background-color: orange;
}
.container{
    position: relative;
    top: 0;
    left: 0;
}

.header{
    padding: 30px 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
}

.header-container{
    display: flex;
    /* justify-content: space-between; */
    /* gap: 50px; */
    border: 1px solid red;
    /* width: 100%; */
}

.head-left ul li,.head-right ul li {
    display: inline;
    list-style: none;
}

.head-left{
    width: 30%;
}

.space{
    width: 30%;
}

.head-right{
    width: 40%;
}

.head-left ul li a{
    color: #ededed;
    text-decoration: none;
    font-size: 12px;
}

.head-right ul li a{
    color: #fff;
}

.head-left ul li a,.head-right ul li a{
    padding-left: 15px;
}

.btn a{
    display: inline;
}

/*
.head-left ul li,.head-right ul li{
   list-style: none;
   display: inline-block;
}
 } */

 .fa{
    margin-right: 8px;
 }